<%- include('partials/header', { title })  %> 
<%- include('partials/navbar', { userLogged }) %>
    <div class="content-fluid d-flex flex-column align-items-center justify-content-center">

        <!-- alerts -->
        <%- include('partials/message', { errors }) %>

        <div class="card card-login <%= (errors && errors.success ) || (errors && errors.general) ? 'mt-4' : 'mt-5' %>">
            <div class="card-header">
                <%= title %> 
            </div>
            <div class="card-body">
                <form action="/login" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                                        
                    <div class="row mb-3">
                        <label for="email" class="col-sm-4 col-form-label">Email:</label>
                        <div class="col-sm-8">
                            <input class="form-control <%= errors && errors.email ? 'error-field' : ''  %>" type="email" name="email" id="email" />
                            <% if (errors && errors.email) { %>
                                <div class="error-text"><%= errors.email %></div>
                            <% } %>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="password" class="col-sm-4 col-form-label">Password:</label>
                        <div class="col-sm-8">
                            <input class="form-control <%= errors && errors.password ? 'error-field' : ''  %>" type="password" name="password" id="password" />
                            <% if (errors && errors.password) { %>
                                <div class="error-text"><%= errors.password %></div>
                            <% } %>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="offset-sm-4 col-sm-8">
                            <div>
                                <input type="checkbox" name="remember" id="remember" class="form-check-input" />
                                <label for="remember" class="pointer" style="margin-left: 5px;">Remember me</label>
                            </div>
                        </div>
                        <div class="offset-sm-4 col-sm-8 mt-3">
                            <div class="d-flex flex-row align-items-center">
                                <input type="submit" value="Login" class="btn btn-primary" />
                                <a href="" style="text-decoration: none;" class="link ms-4">Forgot your password?</a>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
<%- include('partials/footer') %> 