<%- include('partials/header', { title })  %> 
<%- include('partials/navbar', { userLogged }) %>
<script src="/js/pagination.component.js"></script>
<script src="/js/time.helper.js"></script>

<div class="content-fluid d-flex flex-column align-items-center justify-content-center">
  
  <%- include('partials/message', { errors }) %>
  
  <% images.forEach( ( image, index ) => { %>

    <div class="card card-login mb-2 pub_image <%= index === 0 ? 'mt-5' : '' %>">
        <div class="card-header">
          <div class="container-avatar">
            <img src="<%= image.user.image %>" alt="avatar" class="img-avatar" />
          </div>  
          <div class="data-user">
            <a href="/image/detail/<%= image.id %>" style="text-decoration: none; color: #444;">
              <%= ( image.user.name + ' ' + image.user.surname )  %>
              <span class="nickname">| @<%= image.user.nick  %></span>
            </a>
          </div>
        </div>
        <div class="card-body p-0">
          <div class="img-container d-flex justify-content-center">
            <img src="<%= image.imagePath %>"  alt="imagePath" />
          </div>
          <div class="description pb-0">
            <span class="nickname">@<%= image.user.nick %></span>  
            <span class="nickname date">| <%= image.createdAt %></span> 
            <p><%= image.description %></p>
          </div>
          <div class="likes">
            <% if ( image.likes.length > 0 || image.likes.some( like => like.like ) ) { %>
              <i class="bi bi-heart-fill" style="color: red;"></i> <!-- like -->
            
            <% } else { %>
              <i class="bi bi-heart-fill"></i>
            
            <% } %> 
            
            <!-- <i 
              class="bi bi-heart-fill heart" 
              aria-image-id="<%#= image.id %>" 
              aria-like="<%#= 
                image.likes.some( like => like.user.id === userLogged.id ) && image.likes.length > 0 
              %>"
            ></i>-->
            <span class="lighter likesCount"><%= image.likes.length  %></span><!-- numero de likes --> 
          </div>
          <div class="comments">
            <a href="" class="btn btn-warning btn-sm m-3 ms-0 mt-0">Comentarios 
              (<%= image.comments.length %>)
            </a>
          </div>
        </div>
    </div>
    
  <% }) %>
  
  <!-- pagination element -->
  <pagination-component page="<%= pagination.page  %>" registers="<%= totalImages %>"></pagination-component>
</div>
<script src="/js/fetch.component.js"></script>
<%- include('partials/footer') %>