<%- include('partials/header', { title })  %> 
<%- include('partials/navbar', { userLogged }) %>

<div class="content-fluid d-flex flex-column align-items-center justify-content-center">
    
    <!-- alerts -->
    <%- include('partials/message', { errors }) %>
    
    <% images.forEach( image => { %>

        <div class="card card-login mb-2">
            <div class="card-header">
              <div class="container-avatar">
                <img src="<%= image.user.image %>" alt="avatar" class="img-avatar" />
                <% if (image.user.image) { %>
                 
                <% } else { %>
                  <img src="http://localhost:3000/image/no-image-icon.png" alt="avatar" class="img-avatar" />
                
                <% } %>

              </div>  
              <%= ( image.user.name + ' ' + image.user.surname )  %>
            </div>
        </div>

    <% }) %>
    
</div>


<%- include('partials/footer') %>