<%- include('partials/header', { title })  %> 
<%- include('partials/navbar', { userLogged }) %>

<!-- JS components and libraries -->
<script src="/js/pagination.component.js"></script>
<script src="/js/time.helper.js"></script>
<script src="/js/like.helper.js"></script>

<div class="content-fluid d-flex flex-column align-items-center justify-content-center">
  
  <%- include('partials/message', { errors }) %>
  
  <!-- muestra las tarjetas de la imagen -->
  <% images.forEach( ( image, index ) => { %>
    <%- include('partials/image', { image, index }) %>
  <% }) %>
  
  <!-- pagination element -->
  <pagination-component 
    page="<%= pagination.page  %>" 
    registers="<%= totalImages %>"
    url="http://localhost:3000/user"
  ></pagination-component>
</div>
<%- include('partials/footer') %>