<%- include('partials/header', { title })  %> 
<%- include('partials/navbar', { userLogged }) %>

<div class="content-fluid d-flex flex-column align-items-center justify-content-center">
  
  <%- include('partials/message', { errors }) %>
  
  <% images.forEach( ( image, index ) => { %>
    <div class="card card-login mb-2 pub_image <%= index === 0 ? 'mt-5' : '' %>">
        <div class="card-header">
          <div class="container-avatar">
            <img src="<%= image.user.image %>" alt="avatar" class="img-avatar" />
          </div>  
          <div class="data-user">
            <%= ( image.user.name + ' ' + image.user.surname )  %>
            <span class="nickname">| @<%= image.user.nick  %></span>
          </div>
        </div>
        <div class="card-body p-0">
          <div class="img-container d-flex justify-content-center">
            <img src="<%= image.imagePath %>"  alt="imagePath" />
          </div>
          <div class="likes"></div>
          <div class="description">
            <span class="nickname">@<%= image.user.nick %></span>  
            <p><%= image.description %></p>
          </div>
        </div>
    </div>
  <% }) %>
  
  <div class="clearfix">
    pagination
  </div>

</div>
<%- include('partials/footer') %>