<%- include('../partials/header', { title })  -%> 
<%- include('../partials/navbar', { userLogged }) -%>
  
  <script src="/js/time.helper.js"></script>
  <script src="/js/like.helper.js"></script>
  
  <div class="content-fluid d-flex flex-column align-items-center justify-content-center">
      <% if (image) { %>
          <%- include('../partials/message', { errors }) %>
          <div class="card card-detail mb-2 pub_image pub-image-detail mt-4">
              <div class="card-header">
                <div class="container-avatar">
                  <img src="<%= image.user.image %>" alt="avatar" class="img-avatar" />
                </div>  
                <div class="data-user">
                  <%= ( image.user.name + ' ' + image.user.surname )  %>
                  <span class="nickname">| @<%= image.user.nick  %></span>
                </div>
              </div>
              <div class="card-body p-0">
                <div class="img-container d-flex justify-content-center">
                  <img src="<%= image.imagePath %>"  alt="imagePath" />
                </div>
                <div class="description pb-0">
                  <span class="nickname">@<%= image.user.nick %></span>
                  <span class="nickname">|</span>
                  <span class="nickname date"><%= image.createdAt %></span>  
                  <p><%= image.description %></p>
                </div>
                <div class="likes">
            
                  <!-- comprobar si el usuario le dio like al imagen -->
                  <% if ( image.likes.some( like => like.user.id === userLogged.id ) ) { %>
                    <i class="bi bi-heart-fill btn-like pointer" data-id="<%= image.id %>"></i> <!-- like marcado -->
                  
                  <% } else { %>
                    <i class="bi bi-heart-fill btn-dislike pointer" data-id="<%= image.id %>"></i>
                  
                  <% } %>
                  
                  <!-- numero de likes -->
                  <span class="lighter likesCount number-likes">
                    <%= image.likes.length  %>
                  </span> 
                </div>

                <!-- actions -->
                <% if ( userLogged.id === image.user.id ) { %>
                  
                  <div class="actions">
                    <a href="/image/edit/<%= image.id %>" class="btn btn-primary btn-sm">Actualizar</a>
                    <a role="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal" aria-hidden="true">Eliminar</a>
                  </div>

                  <!-- delete modal -->
                  <div class="modal fade" tabindex="-1" id="deleteModal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Eliminar publicacion:</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p>
                            Si eliminas la imagen perderas todos los likes y comentarios asociados a la publicacion <br><br>
                            Estas seguro??
                          </p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                          <a href="/image/delete/<%= image.id %>" type="button" class="btn btn-danger">Confirmar</a>
                        </div>
                      </div>
                    </div>
                  </div>

                <% } %>

                <div class="clearfix"></div>
                
                <div class="comments">
                  
                  <h2 class="ps-3">Comentarios 
                    (<%= image.comments.length %>)
                  </h2>
                  <hr>

                  <!-- comments form -->
                  <form action="/comments/save" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <input type="hidden" name="imageId"  value="<%= image.id %>" />
                    
                    <textarea class="form-control mt-2 <%= errors && errors.content ? 'error-field' : ''  %>" name="content" id="content"></textarea>
                    <% if (errors && errors.content) { %>
                      <div class="error-text"><%= errors.content %></div>
                    <% } %>
                    
                    <input type="submit" value="Enviar" class="btn btn-success btn-sm mt-3" />
                  </form>

                  <hr class="mt-2" />

                  <!-- comments -->
                  <% image.comments.forEach( comment => { %>

                    <div class="comment">
                      <span class="nickname">@<%= comment.user.nick %></span>
                      <span class="nickname">|</span>
                      <span class="nickname date"><%= comment.createdAt %></span>  
                      <p><%= comment.content %></p>
                      <% if (comment && ( comment.user.id === userLogged.id )) { %>
                        <a href="/comments/delete/<%= comment.id %>" class="btn btn-sm btn-danger">Eliminar</a>
                      <% } %>

                    </div>
                  
                  <% }) %>

                </div>
              </div>
          </div>
      <% } %> 
  </div>

<%- include('../partials/footer') -%>