<%- include('../partials/header', { title })  %> 
<%- include('../partials/navbar', { userLogged }) %>
  
  <script src="/js/time.helper.js"></script>
  <script src="/js/like.helper.js"></script>
  
  <div class="content-fluid d-flex flex-column align-items-center justify-content-center">
      <% if (image) { %>
          <div class="card card-detail mb-2 pub_image pub-image-detail mt-5">
              <div class="card-header">
                <div class="container-avatar">
                  <img src="<%= image.user.image %>" alt="avatar" class="img-avatar" />
                </div>  
                <div class="data-user">
                  <%= ( image.user.name + ' ' + image.user.surname )  %>
                  <span class="nickname">| @<%= image.user.nick  %></span>
                </div>
              </div>
              <div class="card-body p-0">
                <div class="img-container d-flex justify-content-center">
                  <img src="<%= image.imagePath %>"  alt="imagePath" />
                </div>
                <div class="description pb-0">
                  <span class="nickname">@<%= image.user.nick %></span>
                  <span class="nickname date">| <%= image.createdAt %></span>  
                  <p><%= image.description %></p>
                </div>
                <div class="likes">
            
                  <!-- comprobar si el usuario le dio like al imagen -->
                  <% if ( image.likes.some( like => like.user.id === userLogged.id ) ) { %>
                    <i class="bi bi-heart-fill btn-like pointer" data-id="<%= image.id %>"></i> <!-- like marcado -->
                  
                  <% } else { %>
                    <i class="bi bi-heart-fill btn-dislike pointer" data-id="<%= image.id %>"></i>
                  
                  <% } %>
                  
                  <!-- numero de likes -->
                  <span class="lighter likesCount number-likes">
                    <%= image.likes.length  %>
                  </span> 
                </div>
                <div class="clearfix"></div>
                
                <div class="comments">
                  
                  <h2 class="ps-3">Comentarios 
                    (<%= image.comments.length %>)
                  </h2>
                  <hr>

                  <!-- comments form -->
                  <form action="/comments/save" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <input type="hidden" name="imageId"  value="<%= image.id %>" />
                    
                    <%- include('../partials/message', { errors }) %>

                    <textarea class="form-control mt-2 <%= errors && errors.content ? 'error-field' : ''  %>" name="content" id="content"></textarea>
                    <% if (errors && errors.content) { %>
                      <div class="error-text"><%= errors.content %></div>
                    <% } %>
                    
                    <input type="submit" value="Enviar" class="btn btn-success btn-sm mt-3" />
                  </form>

                  <hr class="mt-2" />

                  <!-- comments -->
                  <% image.comments.forEach( comment => { %>

                    <div class="comment">
                      <span class="nickname">@<%= comment.user.nick %></span>
                      <span class="nickname date">| <%= comment.createdAt %></span>  
                      <p><%= comment.content %></p>
                      <% if (comment && ( comment.user.id === userLogged.id )) { %>
                        <a href="/comments/delete/<%= comment.id %>" class="btn btn-sm btn-danger">Eliminar</a>
                      <% } %>

                    </div>
                  
                  <% }) %>

                </div>
              </div>
          </div>
      <% } %> 
  </div>

<%- include('../partials/footer') %>