<%- include('../partials/header')  -%> 
<%- include('../partials/navbar') -%>

<!-- JS components and libraries -->
<script src="/js/pagination.component.js"></script>
<script src="/js/time.helper.js"></script>
<script src="/js/like.helper.js"></script>

<div class="content-fluid d-flex flex-column align-items-center justify-content-center">
    
    <h2 class="mt-4 w-50">Mis imagenes favoritas</h2>
    <hr class="w-50 separator" />
    
    <% likes.forEach(( like, index ) => { %> 
        <%- include('../partials/image', { image: like.image, index, userLogged }); %>      
    <% }); %>

    <!-- pagination element -->
    <pagination-component 
        page="<%= pagination.page  %>" 
        registers="<%= totalLikes %>"
        url="<%= appName %>/like"
        ></pagination-component>
</div>
<%- include('../partials/footer') -%>